#container {
    box-sizing: content-box;
    margin: 30px auto;
    border: dashed 1px #666;
    width:  90%;
    height: 90%;
    max-width: 1200px;
    max-height: 800px;
    min-width:  600px;
    min-height: 400px;
}
