---
common-css:
  - "/css/w/webgl.css"
common-js:
  - "/js/w/webgl.js"
  - "/js/dat-gui.min.js"
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <!--
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
        <link rel="stylesheet" href="css/kajero.css">
    </head>
  -->
    <body>
    <canvas id="container"></canvas>
    {% include footer-scripts.html %}
    {{ content }}
    </body>
</html>
